@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/CosiAzure-Black.woff2") format("woff2");
  font-family: "Cosi Azure";
}
@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/ageo-regular.woff2") format("woff2");
  font-family: "Ageo";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

html {
  font-size: 100%;
}

body {
  font-family:"Pretendard Variable", Pretendard, sans-serif;
  text-rendering: optimizeLegibility;
  color: white;
  background-color: #151515;
}

p {
  margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

small {
  font-size: 0.75em;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.intro {
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
  z-index: 400;
  font-family: "Cosi Azure", sans-serif;
}
.intro__title {
  color: white;
  max-width: 45%;
  text-align: center;
  mix-blend-mode: difference;
  z-index: 2;
  transform: translateY(40px);
}
.intro__background {
  position: absolute;
  top: 0;
  background-color: black;
  width: 50%;
  height: 100%;
  transform: scaleX(0);
}
.intro__background--left {
  left: 0;
  transform-origin: left center;
}
.intro__background--right {
  left: 50%;
  transform-origin: right center;
}

/* 헤더 영역 */

#header {
  width: 100%;
  height: 120px;
  padding: 50px 0;
  position: fixed;
  top: 0;
  transition: background-color 0.5s;
  z-index: 300;
}

#header.color {
  background: rgba(255, 255, 255, 0.5);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo .logo {
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
  border: 3px solid #fff;
  height: 36px;
  width: 36px;
  border-radius: 10px;
  text-align: center;
  line-height: 29px;
  cursor: pointer;
}

.header__nav {
  font-family: "Ageo", sans-serif;
  letter-spacing: 0.05em;
  font-size: 22px;
  display: flex;
}

.header__nav > *:not(:last-child) {
  margin-right: 25px;
}

.header__nav li {
  position: relative;
}

.header__nav li::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  transition: all 1s;
}

.header__nav li.on::after {
  width: 50px;
  opacity: 1;
}

.header__nav li.active::after {
  background: #555;
}

/* 메인 화면 */

#home {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(../dist/img/gradient-bg.jpg) no-repeat center / cover;
  color: #fff;
  z-index: 200;
}

.home-inner {
  max-width: 1500px;
  margin: 0 auto;
}

.hero__col {
  position: absolute;
  top: 30%;
}

.hero__col--1 .split {
  display: block;
}

.hero__col--1 .split span {
  display: inline-block;
}

.hero__col--1 h1 {
  font-size: 75px;
  letter-spacing: 1px;
  padding-left: 100px;
}

.hero__col--1::before {
  content: '';
  display: block;
  width: 8px;
  height: 400px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
}

.hero__col p {
  font-size: 20px;
  padding-left: 100px;
}

.hero__col--2 img {
  object-fit: cover;
  height: 100%;
}

.ball1 {
  position: absolute;
  bottom: 0%;
  right: 10%;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.05;
  animation: ball1-1 3s linear infinite alternate;
}

.ball2 {
  position: absolute;
  right: 30%;
  bottom: -20%;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.1;
  animation: ball1-2 3s linear infinite alternate;
}


@keyframes ball1-1 {
  0% {
    bottom: 0%;
    right: 10%;
  }
  50% {
    bottom: 3%;
    right: 12%;
  }
  100% {
    bottom: 4%;
    right: 14%;
  }
}

@keyframes ball1-2 {
  0% {
    right: 30%;
    bottom: -20%;
  }
  50% {
    bottom: -22%;
  }
  100% {
    bottom: -23%;
  }
}

/* About me */

.about-me {
  background: #fff;
  box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  height: 100vh;
  z-index: 200;
  color: #151515;
}

.section-inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

.section-inner h1 {
  font-weight: 600;
  margin-bottom: 50px;
}

.section-inner .profile-img {
  display: flex;
  align-items: center;
  gap: 50px;
}

.section-inner .profile-img img {
  width: 25%;
}

.section-inner .profile-img p {
  width: 50%;
  font-size: 18px;
  word-break: keep-all;
  line-height: 26px;
}

.section-inner .bold {
  font-size: 20px;
  font-weight: 600;
}

.section-inner ul {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top: 3px solid #ececec;
  padding-top: 50px;
}

.section-inner ul li {
  font-size: 18px;
  font-weight: 500;
  color: #222;
}

.section-inner .ab-box {
  padding: 10px 0;
}

.section-inner .ab-box span:nth-child(1) {
  font-weight: 500;
  color: #a3a3a3;
  margin-right: 10px;
}

#project {
  background: #fff;
  color: #666;
  height: 1400vh;
  color: #444;
}

#project .inner3 {
  width: 1600%;
  height: 100vh;
  margin-left: 5%;
  position: fixed;
  left: 0;
  top: 200px;
}

#project .container {
  width: 1600%;
  height: 100vh;
  margin-left: 25%;
  position: fixed;
  display: flex;
  word-break: keep-all;
}

#project .publi-wrap {
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  margin-right: 0.5%;
}

#project .publi-cont {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

#project .pic img {
  box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

#project .sub {
  font-size: 18px;
}

#project .main {
  font-size: 43px;
  font-weight: 600;
}


#project .desc-list h4 {
  font-size: 20px;
  font-weight: 600;
}

#project .desc-list p {
  line-height: 22px;
}

#project article {
  width: 550px;
}

#project .btn-area {
  margin-top: 50px;
  min-width: 490px;
  border: 1px solid #a7a7a7;
  padding: 20px;
  text-align: center;
  color: #a7a7a7;
}

/* 컨텍트 */
#contact {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(../dist/img/gradient-bg.jpg) no-repeat center / cover;
  color: #fff;
}

.contact-title {
  padding-top: 200px;
  line-height: 46px;
}